<!doctype html>
<html lang="en">
  <head>
    <title>{{.title}}</title>
    <meta name="description" content="Mcd App" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/resets.css" />

    <!--HTMX -->
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    {{block "navbar" .}} {{end}}

    <main class="main-grid">
      {{block "content" .}}
      <section class="full-columns">
        <h1>Whoops</h1>
        <p>No content here yet.</p>
      </section>
      {{end}}
    </main>

    {{block "footer" .}} {{end}}
  </body>
</html>
