<!doctype html>
<html lang="en">
  <head>
    <title>{{define "title"}} McD App {{end}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/resets.css" />
  </head>

  <body>
    {{block "navbar" .}} {{end}}

    <!-- content -->
    {{block "content" .}}
    <h1>Whoops</h1>
    <p>No content here yet.</p>
    {{end}}

    <!-- footer -->
    {{block "footer" .}} {{end}}
  </body>
</html>
