{{define "content"}}
<header class="full-columns">
  <h1>Hello there</h1>
  <p>this is my first go application rendering views</p>
</header>

<section class="full-columns">
  <ul class="menu-list odd-columns">
    {{range .data}}
    <li class="menu-item">
      <article>
        <a href="/menu/{{.ID}}">
          <h2 class="menu__title">{{.Name}}</h2>
          <p class="menu__tag">{{.Tag}}</p>
          <p>{{.ServingSize}}</p>
          <!-- TODO: switch to ul -->
          <ul>
            <li>{{.Ingredients}}</li>
          </ul>
          <p>{{.Description}}</p>
        </a>
      </article>
    </li>
    {{end}}
  </ul>
</section>
{{end}}
