<!doctype html>
<html lang="en">
  <head>
    <title>MCD something something</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/style.css" rel="stylesheet" />
  </head>

  <body>
    <main>
      <h1>Hello, {{.name}}</h1>
      <p>this is my first go application rendering views</p>

      <ul class="menu-list">
        {{range .data}}
        <li class="menu-item">
          <article>
            <h2>{{.Name}}</h2>
            <p>{{.Tag}}</p>
            <p>{{.ServingSize}}</p>
            <p>{{.Ingredients}}</p>
            <p>{{.Description}}</p>
          </article>
        </li>
        {{end}}
      </ul>
    </main>
  </body>
</html>
