{{define "content"}}
<header class="full-columns">
  <h1>{{.title}}</h1>
  <p>
    Hello there. This is a very simple CRUD app, but also my first Go
    application rendering HTML views. Click on the links in the navbar, or these
    menu items to get started
  </p>
</header>

<section class="full-columns">
  <ul class="menu-list odd-columns">
    {{range .data}}
    <li class="menu-item">
      <article>
        <a href="/menu/{{.ID}}">
          <h2 class="menu__title">{{.Name}}</h2>
          <p class="menu__tag">{{.Tag}}</p>
          <p>{{.ServingSize}}</p>
          <!-- TODO: switch actual list -->
          <ul>
            <li>{{.Ingredients}}</li>
          </ul>
          <p>{{.Description}}</p>
        </a>
      </article>
    </li>
    {{end}}
  </ul>
</section>
{{end}}
