{{define "content"}}

<section id="view-page" class="full-columns">
  <header>
    <h1>{{.data.Name}}</h1>
    <p>{{.data.Description}}</p>
  </header>

  <article>
    <p>Serving size: {{.data.ServingSize}}</p>
    <p>ingredients:</p>
    <ul>
      <li>{{.data.Ingredients}}</li>
    </ul>

    <p>Tags: {{.data.Tag}}</p>
    <p>Allergies: {{.data.Allergy}}</p>

    <p>Miscellaneous info</p>
    <div class="misc-info">
      <span>Protein: {{.data.Protein}}</span>
      <span>Trans fat: {{.data.TransFat}}</span>
      <span>Total fat: {{.data.TotalFat}}</span>
    </div>

    <div class="btn-container">
      <button class="btn edit-toggle">Edit this menu item</button>
      <button
        class="btn btn--delete"
        hx-delete="/menu/{{.data.ID}}"
        hx-target="main"
        hx-swap="innerHTML"
        hx-confirm="are you sure you want to delete menu item {{.data.Name}}?"
      >
        Delete this menu item
      </button>
    </div>
  </article>
</section>

<section id="edit-page" class="hidden full-columns">
  <header>
    <div class="success" style="display: none"></div>
    <h1>Edit menu item</h1>
  </header>
  <form
    id="edit-form"
    hx-patch="/menu/{{.data.ID}}"
    hx-trigger="submit"
    hx-target=".success"
    hx-swap="outerHTML"
  >
    <label for="menu-name">Name</label>
    <input
      type="text"
      name="menu-name"
      id="menu-name"
      value="{{.data.Name}}"
      placeholder="hi"
      required
    />
    <label for="menu-serving-size">Serving size</label>
    <input
      type="text"
      name="menu-serving-size"
      id="menu-serving-size"
      value="{{.data.ServingSize}}"
      placeholder="69ml"
      required
    />
    <label for="menu-ingredients">Ingredients</label>
    <input
      type="text"
      name="menu-ingredients"
      id="menu-ingredients"
      value="{{.data.Ingredients}}"
      placeholder="idk man"
    />

    <label for="menu-tag">Tag</label>
    <input
      type="text"
      name="menu-tag"
      id="menu-tag"
      value="{{.data.Tag}}"
      placeholder="some tags"
    />
    <label for="menu-allergy">Allergy</label>
    <input
      type="text"
      name="menu-allergy"
      id="menu-allergy"
      value="{{.data.Allergy}}"
      placeholder="some allergies wtf does that even mean"
    />

    <button type="submit" class="btn submit-btn">Update menu item data</button>
  </form>

  <button class="btn edit-toggle">Go back</button>
</section>

<script src="/assets/app.js"></script>
{{end}}
