{{define "content"}}
<a href="/">Go back</a>

<main id="view-page">
  <h1>{{.data.Name}}</h1>
  <p>{{.data.Description}}</p>

  <p>Serving size: {{.data.ServingSize}}</p>
  <p>ingredients:</p>
  <ul>
    <li>{{.data.Ingredients}}</li>
  </ul>

  <p>Tags: {{.data.Tag}}</p>
  <p>Allergies: {{.data.Allergy}}</p>

  <p>Miscellaneous info</p>
  <div class="misc-info">
    <span>Protein: {{.data.Protein}}</span>
    <span>Trans fat: {{.data.TransFat}}</span>
    <span>Total fat: {{.data.TotalFat}}</span>
  </div>

  <div class="btn-container">
    <button class="btn edit-toggle">Edit this menu item</button>
    <button class="btn btn--delete">Delete this menu item</button>
  </div>
</main>

<main id="edit-page" class="hidden">
  <div class="success" style="display: none"></div>
  <h1>Edit menu item</h1>
  <form
    id="edit-form"
    hx-patch="/menu/{{.data.ID}}"
    hx-trigger="submit"
    hx-target=".success"
    hx-swap="outerHTML"
  >
    <label for="menu-name">Name</label>
    <input
      type="text"
      name="menu-name"
      id="menu-name"
      value="{{.data.Name}}"
      placeholder="hi"
      required
    />
    <label for="menu-serving-size">Serving size</label>
    <input
      type="text"
      name="menu-serving-size"
      id="menu-serving-size"
      value="{{.data.ServingSize}}"
      placeholder="69ml"
      required
    />
    <label for="menu-ingredients">Ingredients</label>
    <input
      type="text"
      name="menu-ingredients"
      id="menu-ingredients"
      value="{{.data.Ingredients}}"
      placeholder="idk man"
    />

    <label for="menu-tag">Tag</label>
    <input
      type="text"
      name="menu-tag"
      id="menu-tag"
      value="{{.data.Tag}}"
      placeholder="some tags"
    />
    <label for="menu-allergy">Allergy</label>
    <input
      type="text"
      name="menu-allergy"
      id="menu-allergy"
      value="{{.data.Allergy}}"
      placeholder="some allergies wtf does that even mean"
    />

    <button type="submit" class="btn submit-btn">Update menu item data</button>
  </form>

  <button class="btn edit-toggle">Go back</button>
</main>

<script src="/assets/app.js"></script>
{{end}}
