{{define "content"}}
<main>
  <h1>Create new menu item</h1>
  <!-- TODO: somehow use patch method and change action to /menu/ -->
  <form action="/menu/new/" method="post">
    <label for="menu-name">Name</label>
    <input
      type="text"
      name="menu-name"
      id="menu-name"
      placeholder="delicious burger"
      required
    />

    <label for="menu-serving-size">Serving size</label>
    <input
      type="text"
      serving-size="menu-serving-size"
      name="menu-serving-size"
      id="menu-serving-size"
      placeholder="vegetables"
      required
    />

    <label for="menu-ingredients">Ingredients</label>
    <input
      type="text"
      ingredients="menu-ingredients"
      name="menu-ingredients"
      id="menu-ingredients"
      placeholder="ingredients"
    />

    <label for="menu-tag">Menu tag</label>
    <input
      type="text"
      tag="menu-tag"
      name="menu-tag"
      id="menu-tag"
      placeholder="tags (WIP)"
    />

    <label for="menu-allergy">Menu allergy</label>
    <input
      type="text"
      allergy="menu-allergy"
      name="menu-allergy"
      id="menu-allergy"
      placeholder="allergy"
      required
    />

    <button type="submit" class="btn submit-btn">Create new menu item</button>
  </form>
</main>
{{end}}
