{{define "content"}}
<section class="full-columns">
  <header>
    <h1>{{.title}}</h1>

    <form
      class="search-form"
      hx-get="/search"
      hx-target="#search-results"
      hx-indicator="#indicator"
      hx-disabled-elt="button.btn"
    >
      <input
        type="text"
        id="query"
        name="query"
        placeholder="search for a menu item"
      />

      <button type="submit" class="btn">Search</button>
    </form>
  </header>

  <ul id="search-results" class="menu-list">
    <li>Your search results will appear here.</li>
  </ul>
  <p id="indicator" class="htmx-indicator">Please be patient...</p>
</section>
{{end}}
