:root {
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

button {
  all: unset;
  box-sizing: inherit;
  display: block;
  cursor: pointer;
}

button:focus-visible {
  outline: 1px solid blue;
}

button:active {
  translate: 0 0.2rem;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

textarea {
  width: 100%;
  height: auto;
  resize: none;
}

form :is(input, label, textarea) {
  display: block;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
