nav {
  outline: 1px solid;
  background: hsl(0 0 0 / 80%);
  backdrop-filter: blur(0.5rem);

  position: sticky;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

nav a {
  color: inherit;
  text-decoration: none;

  display: block;
  padding: 1rem;
}

main {
  width: calc(min(120ch, 100%) - 4rem);
  margin-inline: auto;
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
  gap: 1rem;
}

.menu-item {
  border-radius: 0.5rem;
  outline: 1px solid #ddd;
  padding: 1rem;
}

.menu-item a {
  color: inherit;
  text-decoration: none;
}

.menu__title {
  line-height: 0.9;
  margin-block: 0 0.5rem;
}

.menu__tag {
  margin-block: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.hidden {
  display: none;
}

form label {
  padding-block: 1rem 0.5rem;
}

form input {
  padding: 1rem;
}

footer {
  padding: 2rem;
}
