:root {
  --blue: #525cea;
  --column-count: 6;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--blue);
  text-decoration: none;
}

button {
  background: hsl(0 0 0 / 20%);
}

.success {
  padding: 1rem;
  outline: 2px solid green;
}

nav {
  outline: 1px solid;
  background: hsl(0 0 0 / 80%);
  backdrop-filter: blur(0.5rem);

  position: sticky;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

nav a {
  color: inherit;

  display: block;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  line-height: 0.9;
  margin-block: 1rem 0.5rem;
}

.main-grid {
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr) repeat(var(--column-count), minmax(0, 10rem))
    minmax(1rem, 1fr);
}

.main-grid > * {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 1rem;
}

.full-columns > * {
  grid-column: 2 / span var(--column-count);
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
  gap: 1rem;
}

.menu-item {
  border-radius: 0.5rem;
  outline: 1px solid #ddd;
  padding: 1rem;
}

.menu-item a {
  color: inherit;
  display: block;
}

.menu__title {
  line-height: 0.9;
  margin-block: 0 0.5rem;
}

.menu__tag {
  margin-block: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.hidden {
  display: none;
}

.btn {
  outline: 1px solid var(--blue);
  padding: 1rem;
  margin-block: 1rem;
  border-radius: 0.5rem;
}

.btn--delete {
  outline: 1px solid red;
}

.btn--submit {
  width: 100%;
  text-align: center;
}

form label {
  padding-block: 1rem 0.5rem;
}

form :is(input, textarea) {
  padding: 1rem;
  border-radius: 0.5rem;
}

footer {
  background: hsl(0 0 0 /20%);
  color: #ddd;
  padding: 2rem;

  margin-block-start: auto;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
