:root {
  --blue: #525cea;
  --column-count: 6;
}

a {
  color: var(--blue);
  text-decoration: none;
}

.success {
  padding: 1rem;
  outline: 2px solid green;
}

nav {
  outline: 1px solid;
  background: hsl(0 0 0 / 80%);
  backdrop-filter: blur(0.5rem);

  position: sticky;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

nav a {
  color: inherit;

  display: block;
  padding: 1rem;
}

.main-grid {
  /*   width: calc(min(120ch, 100%) - 4rem);
  margin-inline: auto;
 */
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr) repeat(var(--column-count), minmax(0, 10rem))
    minmax(1rem, 1fr);
}

.main-grid > * {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 1rem;
}

.full-columns > * {
  grid-column: 2 / span var(--column-count);
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
  gap: 1rem;
}

.menu-item {
  border-radius: 0.5rem;
  outline: 1px solid #ddd;
  padding: 1rem;
}

.menu-item a {
  color: inherit;
  display: block;
}

.menu__title {
  line-height: 0.9;
  margin-block: 0 0.5rem;
}

.menu__tag {
  margin-block: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.hidden {
  display: none;
}

.btn {
  outline: 1px solid var(--blue);
}

.btn--delete {
  outline: 1px solid red;
}

form label {
  padding-block: 1rem 0.5rem;
}

form :is(input, textarea) {
  padding: 1rem;
}

form textarea {
  width: 100%;
  height: auto;
}

footer {
  background: hsl(0 0 0 /20%);
  color: #ddd;
  padding: 2rem;
}
