:root {
  --blue: #525cea;
  --blue-shadow: #525cea22;
  --red: #aa2a2a;
  --grey: #bcbcbc;
  --dark-grey: #222;
  --white: #dfdfdf;

  --column-count: 6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --outline-color: #444;
    --text-color: var(--white);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --outline-color: var(--white);
    --text-color: var(--dark-grey);
  }
}

body {
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration-color: var(--blue);
  text-underline-offset: 0.2rem;
  transition: color 200ms ease;
}

a:hover {
  color: var(--blue);
}

button {
  background: hsl(0 0 0 / 20%);
}

.success {
  padding: 1rem;
  outline: 2px solid green;
}

nav {
  background: var(--blue-shadow);
  backdrop-filter: blur(0.5rem);
  box-shadow:
    0 2px 2px var(--blue-shadow),
    0 4px 4px var(--blue-shadow);

  position: sticky;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

nav a {
  text-decoration: none;

  display: block;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  line-height: 0.9;
  margin-block: 1rem 0.5rem;
}

main :is(section, header) {
  padding-block: 1rem 2rem;
}

.main-grid {
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr) repeat(var(--column-count), minmax(0, 10rem))
    minmax(1rem, 1fr);
}

.main-grid > * {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

.full-columns > * {
  grid-column: 2 / span var(--column-count);
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
  gap: 1rem;
}

.menu-item {
  border-radius: 0.5rem;
  outline: 1px solid var(--outline-color);
  padding: 1rem;
  transition: background-color 200ms ease;
}

.menu-item:hover {
  background: var(--blue-shadow);
}

.menu-item article,
.menu-item a {
  height: 100%;
}

.menu-item a {
  text-decoration: none;
  display: block;
}

.menu-item a:hover {
  color: inherit;
}

.menu__title {
  line-height: 0.9;
  margin-block: 0 0.5rem;
}

.menu__tag {
  margin-block: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.hidden {
  display: none;
}

.btn {
  outline: 1px solid var(--blue);
  padding: 1rem 1.5rem;
  margin-block: 1rem;
  border-radius: 0.5rem;
  transition: background 200ms ease;
}

.btn:hover {
  background: var(--blue);
  color: var(--white);
}

.btn--delete {
  outline: 1px solid var(--red);
}

.btn--delete:hover {
  background: var(--red);
}

.btn--full-width {
  width: 100%;
  text-align: center;
}

form label {
  padding-block: 1rem 0.5rem;
}

form :is(input, textarea) {
  padding: 1rem;
  border-radius: 0.5rem;
  transition: box-shadow 200ms ease;
}

form :is(input, textarea):focus-visible {
  outline: 1px solid var(--blue);
  box-shadow:
    0 2px 2px var(--blue-shadow),
    0 4px 4px var(--blue-shadow),
    0 8px 8px var(--blue-shadow);
}

footer {
  background: hsl(0 0 0 /20%);
  padding: 2rem;

  margin-block-start: auto;
}

.footer-year {
  font-weight: bold;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
