*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
}

main {
  width: min(120ch, 100%);
  margin-inline: auto;
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
  gap: 1rem;
}

.menu-item {
  border-radius: 0.5rem;
  outline: 1px solid #ddd;
  padding: 1rem;
}

.menu-item a {
  color: inherit;
  text-decoration: none;
}
